<div class="cp-multi-selector-item__icon cps-bg-medium-gray cps-gray-5">
	<span ng-if="item.initials">{{ item.initials }}</span>
	<span ng-if="!item.initials">{{item.first_name[0]}}{{item.last_name[0]}}</span>
</div>
<div class="cp-multi-selector-item__title">
	{{item.display_name}}
</div>
<div class="cp-multi-selector-item__check" ng-class="{ 'cp-multi-selector-item__check--move-up': removable }">
	<i ng-if="!removable" class="cps-icon cps-icon-lg-check cps-info"></i>
	<i ng-if="removable" ng-click="$event.stopPropagation(); removeItem(item);" class="cps-icon cps-icon-close"></i>
</div>
