<!-- input mode  -->
<div class="cp-multi-selector" ng-if="!icon">
	<input type="input" class="cp-multi-selector__hidden-input" ng-focus="displayDialog()">
	<div ng-click="displayDialog()" type="text" class="cp-multi-selector__main-input cps-form-control">
		<div class="cp-multi-selector__pill cps-white cps-bg-gray-10" ng-repeat="item in selectedItems">
			{{item.first_name}} {{item.last_name}}<i ng-click="removeItem(item)" class="cps-icon cps-icon-sm-close"></i>
		</div>
	</div>
</div>
<!-- icon mode  -->
<div ng-if="icon" class="cp-multi-selector__icon">
	<div class="cp-multi-selector__pill +inline cps-white cps-bg-gray-10" ng-repeat="item in selectedItems">
		<span style="vertical-align: top">{{item.first_name}} {{item.last_name}}</span> <i ng-click="removeItem(item)" class="cps-icon cps-icon-sm-close"></i>
	</div>
	<div class="cps-btn-icon" ng-click="displayDialog()">
		<a href class="cps-link"><span class="cps-icon {{icon}}"></span></a>
	</div>
</div>
<!-- select dialog  -->
<div class="cp-multi-selector__dialog depth-z2" ng-show="showDialog" ng-style="dialogStyle">
	<input type="text" ng-keydown="keyDown($event)" class="cps-form-control cp-multi-selector__dialog__input" ng-model="userInput" placeholder="{{placeholder}}"/>
	<div class="cp-multi-selector__dialog__items">
		<cp-multi-selector-item ng-class="{'+selected': isSelected(item), '+highlighted': ($index === highlightedIndex) }" ng-click="selectItem(item)" ng-repeat="item in filteredItems = (source | filter:userInput | limitTo:4)" template="itemTemplate">
		</cp-multi-selector-item>
	</div>
</div>

<div class="cp-multi-selector__footer">

</div>
